@model ET.Constracts.UserContracts.EditUser

@{
   ViewBag.Title = "ویرایش کاربر";
   Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
   Html.EnableClientValidation(true);
   Html.EnableUnobtrusiveJavaScript(true);
   Html.SetValidationMessageElement("span");
}

<div class="mx-auto text-right rounded rounded-2 shadow-lg bg-white p-4 form-container">
   <h3 class="text-center">ویرایش کاربر</h3>

   @if (TempData["Message"] != null)
   {
      <div class="container mt-2 p-2 mx-auto rounded rounded-2 bg-white shadow-sm">
         <p class="alert p-1 alert-warning text-center">@TempData["Message"]</p>
      </div>
   }

   <hr class="my-2">
   @using (Html.BeginForm("Edit", "Users", new { area = "Admin" }, FormMethod.Post))
   {
      <div class="form-group">
         @Html.LabelFor(m => m.FullName, new { @class = "mb-1 mt-2" })
         @Html.TextBoxFor(m => m.FullName, new { @class = "form-control px-2" })
         @Html.ValidationMessageFor(m => m.FullName)
      </div>
      <div class="form-group">
         @Html.LabelFor(m => m.Email, new { @class = "mb-1 mt-2" })
         @Html.TextBoxFor(m => m.Email, new { @class = "form-control px-2" })
         @Html.ValidationMessageFor(m => m.Email)
      </div>
      @Html.HiddenFor(m => m.UserId)
      <div class="form-group">
         @Html.LabelFor(m => m.RoleId, new { @class = "mb-1 mt-2" })
         <select class="form-control px-2" name="RoleId">
            <option value="0">نقش</option>
            @foreach (var role in Model.Roles)
            {
               <option value="@role.RoleId">@role.RoleTitle</option>
            }
         </select>
         @Html.ValidationMessageFor(m=>m.RoleId)
      </div>
      <input type="submit" class="form-control btn btn-success mt-5" value="ویرایش">
   }
</div>