@model ET.Constracts.UserContracts.LoginUser

@{
   ViewBag.Title = "ورود";
   Layout = "~/Views/Shared/_Layout.cshtml";
   Html.EnableClientValidation(true);
   Html.EnableUnobtrusiveJavaScript(true);
   Html.SetValidationMessageElement("span");
}

<div class="mx-auto text-right rounded rounded-2 shadow bg-white p-4 form-container">
   <h3 class="text-center">ورود</h3>
   <hr class="my-2">

   @if (TempData["Message"] != null)
   {
      <div class="container mt-2 p-2 mx-auto rounded rounded-2 bg-white shadow-sm">
         <p class="alert p-1 alert-warning text-center">@TempData["Message"]</p>
      </div>
   }

   @using (Html.BeginForm("Login", "Account", FormMethod.Post))
   {
      @Html.AntiForgeryToken();
      <div class="form-group">
         @Html.LabelFor(m=>m.UserName , new { @class = "mb-1 mt-2"})
         @Html.TextBoxFor(m=>m.UserName , new {@class = "form-control px-2" , placeholder = "HosseinDarvishi"})
         @Html.ValidationMessageFor(m => m.UserName)
      </div>
      <div class="form-group">
         @Html.LabelFor(m => m.Password, new { @class = "mb-1 mt-2" })
         @Html.PasswordFor(m => m.Password, new { @class = "form-control px-2", placeholder = "******" })
         @Html.ValidationMessageFor(m => m.Password)
      </div>
      <input type="submit" class="form-control btn btn-success mt-5" value="ورود">
   }
</div>