@model ET.Constracts.UserContracts.RegisterUser

@{
   ViewBag.Title = "ثبت نام";
   Layout = "~/Views/Shared/_Layout.cshtml";
   Html.EnableClientValidation(true);
   Html.EnableUnobtrusiveJavaScript(true);
   Html.SetValidationMessageElement("span");
}

<div class="mx-auto text-right rounded rounded-2 shadow bg-white p-4 form-container">
   <h3 class="text-center">ثبت نام</h3>
   <hr class="my-2">

   @if (TempData["Message"] != null)
   {
      <div class="container mt-2 p-2 mx-auto rounded rounded-2 bg-white shadow-sm">
         <p class="alert p-1 alert-warning text-center">@TempData["Message"]</p>
      </div>
   }

   @using (Html.BeginForm("Register", "Account", FormMethod.Post))
   {
      <div class="form-group">
         <label class="mb-1 mt-2">نام و نام خانوادگی</label>
         <input class="form-control px-2" name="fullname" type="text" placeholder="حسین درویشی">
         @Html.ValidationMessageFor(m => m.FullName)
      </div>
      <div class="form-group">
         <label class="mb-1 mt-2">نام کاربری</label>
         <input class="form-control px-2" name="username" type="text" placeholder="hosseinDarvishi">
         @Html.ValidationMessageFor(m => m.UserName)
      </div>
      <div class="form-group">
         <label class="mb-1 mt-2">ایمیل</label>
         <input class="form-control px-2" name="email" type="text" placeholder="exam@gmail.com">
         @Html.ValidationMessageFor(m => m.Email)
      </div>
      <div class="form-group">
         <label class="mb-1 mt-2">رمز عبور</label>
         <input class="form-control px-2" name="password" type="password" placeholder="******">
         @Html.ValidationMessageFor(m => m.Password)
      </div>
      <div class="form-group">
         <label class="mb-1 mt-2">تکرار رمز عبور</label>
         <input class="form-control px-2" name="repassword" type="password" placeholder="******">
         @Html.ValidationMessageFor(m => m.RePassword)
      </div>
      <input type="submit" class="form-control btn btn-success mt-5" value="ثبت نام">
   }
</div>