@model List<ET.Constracts.CarConstracts.CarVM>

@{ 
   ViewBag.Title = "صفحه اصلی";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row cards">

   @if (TempData["Message"] != null)
   {
      <div class="container mt-2 p-2 mx-auto rounded rounded-2 bg-white shadow-sm">
         <p class="alert p-1 alert-warning text-center">@TempData["Message"]</p>
      </div>
   }

   @foreach (var car in Model)
   {
      <div class="col-12 col-lg-4 col-md-6 p-3">
         <div class="car-card bg-white shadow text-right overflow-hidden">
            <h5 class="text-center text-white card-name py-3 mb-4">@car.CarName</h5>
            <div class="px-4 overflow-hidden position-relative">
               <p>مدل : @car.Model</p>
               <p class="my-1">رنگ : @car.Color</p>
               <p>سرعت : @car.Speed</p>
               <p class="my-1 font-weight-bold">راننده : @car.DriverName</p>
               <img class="car-logo" src="~/Content/car-logo.png">
            </div>
            <div class="text-center mt-4">
               <a href="@Url.Action("SetRequest","Home",new {carId = car.CarId})" class="card-btn py-2 text-light w-100 d-flex justify-content-center align-items-center">درخواست</a>
            </div>
         </div>
      </div>
   }
</div>